clint==0.5.1
-e git+https://github.com/mobolic/facebook-sdk.git@43b609ee034195c794521e23792532471551c383#egg=facebook_sdk
google-api-python-client==1.6.2
google-auth==0.8.0
oauth2client==4.0.0
python-dateutil==2.6.0
python-dotenv==0.6.3
sortedcontainers==1.5.7
colorlog
