<!DOCTYPE html>
<html>
  <head>
<script src="jquery-1.8.0.js"></script>
<script src="underscore-min.js"></script>
<script type="text/javascript">

var scope = "https://www.googleapis.com/auth/fusiontables";
var api_key='AIzaSyAAOVWAwNLCgLRb4Y15HOZk2FSibtZZA3M';

var setBoxTemplate = function(data) {
  console.log('template! %o', data);
  var tpl = _.template("<div data-rowid=<%=rowid%> >avsender: <%= Avsender %><br>melding: <%= Melding %><br>Kommentarer: <%= kommentarer %><br><b>Relevant?</b><button onclick='answer(this, 1)'>Yes</button><button onclick='answer(this, 0)'>No</button></div>");
  var box = document.getElementById("box");
  var h =  tpl(data);

  box.innerHTML = h;
};
var error = function(error) {
  console.error(error);
};

var put = function(post_row_id, relevant_value) {
  var tableId = $('#sortTableList').val();
  var ql="INSERT INTO "+tableId+" SET 'relevant?' = "+relevant_value+" WHERE ROWID="+post_row_id+" LIMIT 1;"
  gapi.client.fusiontables.query.sql({sql:ql}).then(function(result) {
    console.log('inserted into %o = %o', post_row_id, relevant_value)


  });

};

var answer = function(obj, val) {
  console.log('Got answer for %o: %o', obj.parentNode.dataset.rowid, val)
  put(obj.parentNode.dataset.rowid, val);
  getnext();

};


</script>
  </head>
  <body>
    <div id="auth">
    <!--Add buttons to initiate auth sequence and sign out-->
    <button id="authorize-button" >Authorize</button>
    <button id="signout-button" style="display: none;">Sign Out</button>
    </div>
    <div id="sortSelection">
        <label>Choose table <select id=sortTableList></select></label>
        <label>Choose column <select id=sortColumnList></select></label>
        <button id=sortNext>Get cracking :D</button>
    </div>
    
    <div id="box" style="display:none; width: 1000px; height: 350px; border:3px double gray">
    
       

    </div>

<script type="text/javascript">
var GoogleAuth; // Google Auth object.
var signoutButton = $('#signout-button');
var authorizeButton = $('#authorize-button');
var contentBox = $('#box');
var sortSelectionBox = $('#sortSelection');
$('#sortTableList').change(function(ev, data) {
    console.log('sortablelistchange %o', this.value);
    gapi.client.fusiontables.column.list({tableId: this.value}).then(function(response) {
        var collst = $('#sortColumnList');
        collst.empty();
        _.each(response.result.items, function(el, idx, lst) {
            if(el.type === 'NUMBER' && el.name.slice(-1) == '?') { 
                collst.append( $('<option/>').val(el.name).data("tableId", this.value).html(el.name) );
            }
        });

    });
});

var getnext = function() {
    var tbl = $('#sortTableList').val();
    var col = $('#sortColumnList').val();
    var s="SELECT ROWID,Melding,kommentarer,Avsender,ID,'relevant?' FROM "+tbl+" WHERE 'relevant?'='' LIMIT 1;"
    gapi.client.fusiontables.query.sqlGet({sql:s}).then( function(response) {
        console.log('getnxet: %o', response);
        var obj = new Object();
        var cols = response.result.columns;
        for(var i = 0; i<col.length; i++) {
            obj[cols[i]] = response.result.rows[0][i];
        }
        
        setBoxTemplate(obj);

    });

};
$('#sortNext').click(getnext());


  function handleClientLoad() {
    // Load the API's client and auth2 modules.
    // Call the initClient function after the modules load.
    gapi.load('client:auth2', initClient);
  }

 function updateSigninStatus(isSignedIn) {
    var user = GoogleAuth.currentUser.get();
    var isAuthorized = user.hasGrantedScopes(scope);
    if (isAuthorized) {
      signoutButton.show();
      authorizeButton.hide();
      contentBox.show();
      sortSelectionBox.show();
      gapi.client.fusiontables.table.list().then( function(response) {
        console.log('list %o', response);
        var l = $('#sortTableList');
        _.each(response.result.items, function(el, idx, lst) {
            l.append($('<option/>').val(el.tableId).html(el.name));
        });

     }, error);
    } else {
      signoutButton.hide();
      authorizeButton.show();
      contentBox.hide();
      sortSelectionBox.hide();
    }
  }

function initClient() {
  gapi.client.init({
      'apiKey': api_key,
      'clientId': '957273849771-9qdui513q2tqt29ffcjeaf29sam1t10o.apps.googleusercontent.com',
      'scope': scope,
      'discoveryDocs': ['https://www.googleapis.com/discovery/v1/apis/fusiontables/v2/rest']
  }).then(function () {
      GoogleAuth = gapi.auth2.getAuthInstance();

      // Listen for sign-in state changes.
      GoogleAuth.isSignedIn.listen(updateSigninStatus);

      // Handle initial sign-in state. (Determine if user is already signed in.)
      var user = GoogleAuth.currentUser.get();
      updateSigninStatus();

      authorizeButton.click(function() { GoogleAuth.signIn(); });
      signoutButton.click(function() { GoogleAuth.signOut(); });
  });
}


</script>
<script async defer src="https://apis.google.com/js/api.js" 
        onload="this.onload=function(){};handleClientLoad()" 
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>
  </body>
</html>

